<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yautumn.dao.shop.ShopCargoProviderInfoMapper">
  <resultMap id="BaseResultMap" type="com.yautumn.common.entity.shop.ShopCargoProviderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
    <result column="house_number" jdbcType="VARCHAR" property="houseNumber" />
    <result column="provider_market_id" jdbcType="VARCHAR" property="providerMarketId" />
    <result column="provider_addr" jdbcType="VARCHAR" property="providerAddr" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, provider_name, house_number, provider_market_id, provider_addr, status, 
    createtime, updatetime, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_cargo_provider_information
    where status = 1 and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_cargo_provider_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yautumn.common.entity.shop.ShopCargoProviderInfo">
    insert into shop_cargo_provider_information (shop_id, provider_name,
      house_number, provider_market_id, provider_addr, 
      status, createtime, updatetime, 
      remark)
    values (#{shopId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR},
      #{houseNumber,jdbcType=VARCHAR}, #{providerMarketId,jdbcType=VARCHAR}, #{providerAddr,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yautumn.common.entity.shop.ShopCargoProviderInfo">
    insert into shop_cargo_provider_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="providerName != null">
        provider_name,
      </if>
      <if test="houseNumber != null">
        house_number,
      </if>
      <if test="providerMarketId != null">
        provider_market_id,
      </if>
      <if test="providerAddr != null">
        provider_addr,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null">
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null">
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="providerMarketId != null">
        #{providerMarketId,jdbcType=VARCHAR},
      </if>
      <if test="providerAddr != null">
        #{providerAddr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yautumn.common.entity.shop.ShopCargoProviderInfo">
    update shop_cargo_provider_information
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null">
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null">
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="providerMarketId != null">
        provider_market_id = #{providerMarketId,jdbcType=VARCHAR},
      </if>
      <if test="providerAddr != null">
        provider_addr = #{providerAddr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yautumn.common.entity.shop.ShopCargoProviderInfo">
    update shop_cargo_provider_information
    set shop_id = #{shopId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      provider_market_id = #{providerMarketId,jdbcType=VARCHAR},
      provider_addr = #{providerAddr,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByShopId" resultType="com.yautumn.common.entity.shop.ShopCargoProviderInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop_cargo_provider_information
    where status = 1 and shop_id = #{shopId}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(1)
    from shop_cargo_provider_information
    where status = 1 and shop_id = #{shopId}
  </select>
</mapper>